@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

.container{
    max-width: 1200px;
    margin: 0 auto;
  }

.menu {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

.logo {
  font-weight: bolder;
  font-size: 1.5em;
}

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 25px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
  margin-left: 25px;
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  width: 80px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

main {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #e7e7e7;
    margin: 0;
    border: 1px solid #e7e7e7;
}


.products-wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
   width: 20%;
   background-color: #fff;
   padding: 20px;
   margin: 30px 0;
   list-style: none;
   border-radius: 10px;
   font-weight: bolder;
}


.imagem {
  width: 300px;
  height: 200px;
}

.products p {
    line-height: 25px;
    font-size: 12px;
}

.products button {
    display: inline-block;
    margin: 20px 0px;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #4c6ef5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products span {
  display: inline-block;
  margin-top: 20px;
}


  